.venv/
.git/
.vscode/
__pycache__/
*.zip
*.log
local.settings.json
terraform.tfstate
infra/.terraform/terraform.tfstate
infra/.terraform/modules/modules.json
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
__blobstorage__/4e5f3456-2f9f-40a6-9cc1-06275155da37
__blobstorage__/AzuriteConfig
infra/.terraform/providers/registry.terraform.io/databricks/databricks/1.84.0/windows_amd64/CHANGELOG.md
infra/.terraform/providers/registry.terraform.io/databricks/databricks/1.84.0/windows_amd64/LICENSE
infra/.terraform/providers/registry.terraform.io/databricks/databricks/1.84.0/windows_amd64/NOTICE
infra/.terraform/providers/registry.terraform.io/databricks/databricks/1.84.0/windows_amd64/terraform-provider-databricks_v1.84.0.exe
infra/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.36.0/windows_amd64/LICENSE.txt
infra/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.36.0/windows_amd64/terraform-provider-azurerm_v4.36.0_x5.exe
.vscode/launch.json
.vscode/settings.json
